@model Week3Project.Models.IssueDateModel

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Book Report</title>
</head>
<body>
    <h2>Book Report</h2>

@if (Model != null)
            {
                <p>IssueDate: @Model.IssueDate</p>
                <p>Return Date: @Model.ReturnDate</p>
            }
else
{
    <p>No Books Issued Till Date</p>
}
</body>
</html>
