@model Week3Project.Models.StudentDashBoard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>StudentDashBoard</title>
</head>
<body>
    <h2>Student Dashboard</h2>

    <ul>
        <li>@Html.ActionLink("StudentReport", "StudentReport", "Student")</li>
        <li>@Html.ActionLink("BookReport","BookReport","Student")</li>
    </ul>
</body>
</html>


