@model Week3Project.Models.StudentReportModel

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Report</title>
</head>
<body>
    <h2>Student Report</h2>

    <p>Student ID: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <p>Username: @Model.Username</p>
    <p>Password: @Model.Password</p>
</body>
</html>