@model Week3Project.Models.PublicationModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Library Management System</title>
</head>
<body>
    <h2>
        Select Your Role
        <br />
    </h2>
    <div>
        @Html.ActionLink("Librarian","LibraryLogin","Librarian")
        <br />

        @Html.ActionLink("Student","StudentLogin","Student")
    </div>
</body>
</html>

